/.github/ @MohamedMohana
/apps/desktop/index.html @MohamedMohana
/apps/desktop/postcss.config.js @MohamedMohana
/apps/desktop/tailwind.config.js @MohamedMohana
/apps/desktop/tsconfig.json @MohamedMohana
/apps/desktop/tsconfig.node.json @MohamedMohana
/apps/desktop/vite.config.ts @MohamedMohana
/apps/desktop/src/ @MohamedMohana
/apps/desktop/src-tauri/build.rs @MohamedMohana
/apps/desktop/src-tauri/capabilities/ @MohamedMohana
/apps/desktop/src-tauri/gen/ @MohamedMohana
/apps/desktop/src-tauri/src/ @MohamedMohana
/apps/desktop/src-tauri/tauri.conf.json @MohamedMohana
/configs/ @MohamedMohana
/docs/ @MohamedMohana
/legacy/ @MohamedMohana
/scripts/ @MohamedMohana
/services/controller/djamp_controller/ @MohamedMohana
/services/controller/run_service.py @MohamedMohana
/services/controller/tests/ @MohamedMohana
/services/priv-helper/src/ @MohamedMohana
/LICENSE @MohamedMohana
/README.md @MohamedMohana
/TESTING_GUIDE.md @MohamedMohana
